@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

.menu {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    font-family: "Madimi One", sans-serif;
    border: 1px solid #000;
}

.menu>button {
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(230, 160, 10);
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    font-weight: 100;
}

.logo>img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.lista-links {
    display: flex;
    gap: 30px;
    list-style: none;

}

.lista-links>li>a {
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    align-items: center;
    background-image: url(./assets/fundo.jpg);
    background-size: cover;
    height: 100vh;


}

.container {
    background-color: #fff;
    /* width: 50%;  */
    margin: 100px;


}

.container>h1 {
    font-size: 45px;
    padding: 30px;
}

.container>p {
    padding-left: 30px;
    font-weight: bold;
}

.cidade,
.bairro {
    border: #ddd solid 1px;
    margin: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 20px;
}

.container>div>input,
.container>div>input:focus {
    width: 100%;
    border: none;
    outline: none;
}

.valor {
    border: #ddd solid 1px;
    margin: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 20px;
    float: right;
    width: 350px;
}

.quarto {
    border: #ddd solid 1px;
    margin: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 20px;
    float: left;
    width: 350px;
}